{% extends "main.html" %}

{% block title %}

<title>تغيير كلمة المرور
</title>
{% endblock title %}
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">

    



<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">تغيير كلمة المرور </h2>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'change_password' %}" class="mb-4">
              {% csrf_token %}
              
              <!-- Old Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="{{ form.old_password.id_for_label }}">كلمة المرور القديمة</label>
                  <input type="password" id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.name }}" class="form-control" />
                  {% if form.old_password.errors %}
                      <small class="text-danger">{{ form.old_password.errors.0 }}</small>
                  {% endif %}
              </div>
              
              <!-- New Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="{{ form.new_password1.id_for_label }}">كلمة المرور الجديدة</label>
                  <input type="password" id="{{ form.new_password1.id_for_label }}" name="{{ form.new_password1.name }}" class="form-control" />
                  {% if form.new_password1.errors %}
                      <small class="text-danger">{{ form.new_password1.errors.0 }}</small>
                  {% endif %}
              </div>
              
              <!-- Confirm New Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                  <label class="form-label" for="{{ form.new_password2.id_for_label }}">تأكيد كلمة المرور الجديدة</label>
                  <input type="password" id="{{ form.new_password2.id_for_label }}" name="{{ form.new_password2.name }}" class="form-control" />
                  {% if form.new_password2.errors %}
                      <small class="text-danger">{{ form.new_password2.errors.0 }}</small>
                  {% endif %}
              </div>
              
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">تغيير كلمة المرور</button>
          </form>
          
            
              
          </div>
        </div>
      </div>
    </div>
  </div>










{% endblock body %}